
<div class="container">

    {{#each model as |article|}}
      <div class="well text-center">{{#link-to 'article' article.id}}<h1>{{article.title}}</h1><img src={{article.image}}> {{/link-to}}
      </div>
    {{/each}}
</div>
